{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Changer mot de passe{% endblock %}

{% block body %}

    <h1>Modifier mon mot de passe</h1>
    {{ form_start(changePasswordForm) }}
    {{ form_widget(changePasswordForm) }}
    <button>Valider</button>
    {{ form_end(changePasswordForm) }}








{#    <h1 class="h3 mb-3 font-weight-normal">Changer de mot de passe</h1>#}

{#    <label for="currentPassword">Mot de passe actuel</label>#}
{#    <input type="text" name="currentPassword" required autofocus>#}
{#    <label for="newPassword">Nouveau mot de passe</label>#}
{#    <input type="password" name="newPassword"required>#}
{#    <label for="confirmNewPassword">Confirmer le nouveau mot de passe</label>#}
{#    <input type="password" name="confirmNewPassword"required>#}


{#    <button type="submit" formmethod="post">#}
{#        Valider#}
{#    </button>#}


{% endblock %}