{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Edit profile{% endblock %}

{% block body %}
    <h1>Editer mon profil</h1>
    {{ form_start(editProfileForm) }}
    {{ form_widget(editProfileForm) }}

    <button>Valider</button>
    {{ form_end(editProfileForm) }}
{% endblock %}

