@import 'nav.css';
@import 'form.css';
body, html {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Asul', sans-serif;

}

main{

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgba(219,21,99,0.8);
    background: -webkit-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: -o-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: -moz-linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
    background: linear-gradient(45deg, rgba(213,0,125,0.8), rgba(229,57,53,0.8));
}

.picture{
    height: auto;
    max-width: 30%;
}


.card {
    transition: 0.2s ease-in, 0.3s ease-out, border-width 100ms linear;
    border-color: white;
}

.card:hover {
    transform: scale(1.04);
    border-radius: 10px;
    border: 12px solid rgb(238, 168, 199);
}

.card-footer-item, .link{
    /*transition: 2ms ease-in, 2s ease-out;*/
    color: rgba(219,21,99,0.8);
    font-size: medium;
    border-color: rgb(238, 168, 199);
}

.card-footer-item:hover {
    transition: 0.1s ease-in;
    color: rgba(74, 49, 163, 0.8);
    background-color: rgb(245, 198, 219);
    font-weight: bold;
    border: 2px solid rgb(238, 168, 199);
}

.link:hover {
    color: rgba(74, 49, 163, 0.8);
}

.card {
    background-color: #ffffff;
}

.navbar, .footer{
    background-color: #ffffff;
}