<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sortir{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        {% block stylesheets %}
            <link href="{{ asset('build/app.css') }}" rel="stylesheet">
            <link rel="icon" href="{{ asset('build/images/Logo_Par_ici_la_Sortie.png') }}">
        {% endblock %}


    </head>
    <body>
        <header>
            {% include('main/nav.html.twig') %}
        </header>
        {% block body %}

        {% endblock %}
        {% for message in app.flashes('notice') %}
            <div class="notification is-primary">
                <button class="delete"></button>
                {{ message }}
            </div>
        {% endfor %}

    <footer>
        {% include('main/footer.html.twig') %}

    </footer>
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
